footer {
  padding: 64px 0 45px;
  text-align: center;
  -webkit-box-shadow: 0 2px 7px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 7px 1px rgb(0 0 0 / 10%);
  @include max-screen(425px) {
    padding: 40px 0 25px;
  }
  .logo{
    display: inline-block;
    margin-bottom: 44px;
    img {
      @include max-screen(768px) {
        width: 110px;
      }
      @include max-screen(425px) {
        width: 100px;
      }
    }
  }
  .socials {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 23px 0;
    margin-bottom: 37px;
    a {
      display: inline-block;
      margin: 0 26px;
      color: $grey_color;
      text-decoration: none;
      font-size: 14px;
      transition: .3s;
      @include max-screen(425px) {
        margin: 0 14px;
      }
      &:hover {
        transform: translateY(-15%);
        color: $black_color;
      }
    }
  }
  .copyright {
    font-size: 13px;
    color: #9c9c9c;
    a {
      text-decoration: none;
      color: $black_color;
    }
  }
}