.gallery {
  padding: 33px 0 73px;
  background-color: #fafafa;
  text-align: center;
  #tabs {
    font-family: Roboto,sans-serif;
    font-weight: $font_bold;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .ui-tabs-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    background: transparent;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    margin-bottom: 30px;
    @include max-screen(425px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .ui-tabs-tab {
    background-color: transparent;
    margin: 0 !important;
    border: none;
    border-right: 1px solid #e1e1e1;
    transform: skewX(-25deg);
    @include max-screen(425px) {
      border-right: none;
    }
    &:hover {
      a {
        color: $black_color !important;
      }
    }
  }
  .ui-tabs-anchor {
    font-size: 14px;
    line-height: 14px;
    font-weight: $font_bold;
    transform: skewX(25deg);
    padding: 10px 17px !important;
    transition: .3s;
    @include max-screen(425px) {
      font-size: 16px;
    }
  }
  .ui-state-default {
    a {
      color: $grey_color;
    }
  }
  .ui-state-active {
    a {
      color: $black_color;
    }
  }
  .ui-tabs-panel {
    display: flex;
    justify-content: space-between;
    padding: 0;
    @include max-screen(425px) {
      flex-direction: column;
    }
    .row {
      margin: 0 15px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      @include max-screen(768px) {
        margin: 0 7.5px;
      }
      @include max-screen(425px) {
        margin: 0;
      }
    }
    span {
      position: relative;
      display: block;
      margin-bottom: 30px;
      transition: .5s ease-in-out;
      background-color: rgba(0, 0, 0, 0.84);
      @include max-screen(768px) {
        margin-bottom: 15px;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 2px;
        background-color: #cacaca;
        top: 50%;
        left: 50%;
        transform: scale(0) translate(-50%, -50%);
        transition:  .2s 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      }
      &:after {
        @extend :before;
        height: 40px;
        width: 2px;
      }
      &:hover {
        &:before {
          transform: scale(1) translate(-50%, -50%);
          transition:  .3s .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        img {
          opacity: 30%;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    font-size: 13px;
    color: $white_color;
    text-decoration: none;
    background-color: #959595;
    width: 125px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: $font_bold;
    transition: .3s;
    &:hover {
      background-color: $grey_color;
    }
  }
}