
header {
  position: relative;
  z-index: 2;
  padding: 27px 0;
  -webkit-box-shadow: 0 2px 3px 2px #b5babd;
  box-shadow: 0 2px 3px 2px #b5babd;
  .container{
    &d-flex{
      align-items: center;
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 20px;
          &:last-child {
            margin: 0 0 0 20px;
          }
          &:hover {
            a {
              color: $black_color;
            }
          }
          &:first-child {
            &:before {
              content: "";
              display: inline-block;
              background-color: $black_color;
              height: 1px;
              width: 20px;
              margin: 5px 20px 5px;
              transition: .3s linear;
            }
          }
          &:last-child {
            .search {
              &:before {
                content: "\f002";
                font-weight: 900;
                font-family: "Font Awesome 5 Free", sans-serif;
              }
            }
          }
          a {
            font-size: 14px;
            font-weight: $font_bold;
            color: $grey_color;
            text-decoration: none;
            transition: .3s;
          }
        }
      }
    }
  }
  .search-overlay {
    display: none;
  }
}

.ui-dialog {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  background-color: rgba(36,43,47,.95);
  border: none !important;
  border-radius: unset !important;
  .ui-dialog-titlebar {
    max-width: 1150px;
    margin: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 20px;
    animation: slide-search_2 .5s ;
    .ui-dialog-title {
      margin: 0;
    }
    .ui-button {
      top: 0;
      margin: 0;
      text-indent: 0;
      background: transparent;
      border: none;
      width: 25px;
      height: 35px;
      padding: 0;
      right: 0;
      &:after {
        content: "\f00d";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: $white_color;
        font-size: 35px;
      }
      span {
        display: none;
      }
    }
  }
}

#dialog {
  max-width: 960px;
  margin: 288px auto 0;
  padding: 0;
  animation: slide-search .5s;
  form {
    position: relative;
    input{
      font-family: "Roboto", sans-serif;
      width: 100%;
      font-size: 45px;
      line-height: 45px;
      font-weight: $font_bold;
      color: $white_color;
      padding: 0 60px 24px 0;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid $white_color;
      -webkit-appearance: none;
      outline: none;
      &::placeholder {
        font-weight: $font_light;
        color: $grey_color;
      }
    }
    button {
      @extend .search;
      position: absolute;
      right: 0;
      top: 12px;
      background: transparent;
      border: none;
      cursor: pointer;
      &:before {
        color: $white_color;
        font-size: 36px;
        content: "\f002";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
      }
    }
  }
}
::-webkit-search-cancel-button {
  display: none;
}


@keyframes slide-search {
  0% {
    opacity: 0;
    margin: 350px auto 0;
  }

  100% {
    margin: 288px auto 0;
    opacity: 1;
  }
}

@keyframes slide-search_2 {
  0% {
    opacity: 0;
    top: -40px;
  }

  100% {
    opacity: 1;
    top: 20px;
  }
}