@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
@import url("https://resources/demos/style.css");
@import "../css/owl.carousel.css";
header {
  position: relative;
  z-index: 2;
  padding: 27px 0;
  -webkit-box-shadow: 0 2px 3px 2px #b5babd;
  box-shadow: 0 2px 3px 2px #b5babd;
}
header .containerd-flex {
  align-items: center;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav ul {
  display: flex;
  list-style: none;
}
header .container nav ul li {
  margin: 0 20px;
}
header .container nav ul li:hover a {
  color: black;
}
header .container nav ul li:first-child:before {
  content: "";
  display: inline-block;
  background-color: black;
  height: 1px;
  width: 20px;
  margin: 5px 20px 5px;
  transition: 0.3s linear;
}
header .container nav ul li:last-child a:before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
}
header .container nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
  transition: 0.3s;
}

.carousel {
  text-align: center;
}
.carousel .container {
  max-width: 1371px;
}
.carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .owl-nav .owl-prev, .carousel .owl-nav .owl-next {
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #fbfcfc !important;
  border-radius: 50%;
  left: 7%;
}
.carousel .owl-nav .owl-prev:before, .carousel .owl-nav .gallery .ui-tabs-panel span.owl-prev:hover:after, .gallery .ui-tabs-panel .carousel .owl-nav span.owl-prev:hover:after, .carousel .owl-nav .owl-next:before, .carousel .owl-nav .gallery .ui-tabs-panel span.owl-next:hover:after, .gallery .ui-tabs-panel .carousel .owl-nav span.owl-next:hover:after {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #fbfcfc;
  font-size: 24px;
}
.carousel .owl-nav .owl-next {
  left: unset;
  right: 7%;
}
.carousel .owl-nav .owl-next:before, .carousel .owl-nav .gallery .ui-tabs-panel span.owl-next:hover:after, .gallery .ui-tabs-panel .carousel .owl-nav span.owl-next:hover:after {
  content: "";
}
.carousel .owl-nav button {
  transition: 0.3s;
}
.carousel .owl-nav button:hover {
  background-color: black;
}
.carousel .owl-nav button:hover.owl-prev, .carousel .owl-nav button.owl-next:hover {
  border: 1px solid black !important;
}
.carousel .owl-dots {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 56px;
}
.carousel .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  margin-right: 16px;
  transition: 0.3s;
}
.carousel .owl-dots .owl-dot.active {
  border: 4px solid black;
}
.carousel .carousel_slide .carousel-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel .carousel_slide .title {
  color: white;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  background-color: black;
  max-width: 700px;
  margin: 0 auto 38px;
  letter-spacing: 6px;
}
.carousel .carousel_slide .sub-title {
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 8px;
}

.gallery {
  padding: 33px 0 73px;
  background-color: #fafafa;
  text-align: center;
}
.gallery #tabs {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 0;
}
.gallery .ui-tabs-nav {
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 0;
  margin-bottom: 30px;
}
.gallery .ui-tabs-tab {
  background-color: transparent;
  margin: 0 !important;
  border: none;
  border-right: 1px solid #e1e1e1;
  transform: skewX(-25deg);
}
.gallery .ui-tabs-tab:hover a {
  color: black !important;
}
.gallery .ui-tabs-anchor {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  transform: skewX(25deg);
  padding: 10px 17px !important;
  transition: 0.3s;
}
.gallery .ui-state-default a {
  color: #777777;
}
.gallery .ui-state-active a {
  color: black;
}
.gallery .ui-tabs-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.gallery .ui-tabs-panel span {
  position: relative;
  display: block;
  margin-bottom: 30px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.84);
}
.gallery .ui-tabs-panel span:hover:before, .gallery .ui-tabs-panel span:hover:after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #cacaca;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .ui-tabs-panel span:hover:after {
  height: 40px;
  width: 2px;
}
.gallery .ui-tabs-panel span:hover img {
  opacity: 30%;
}
.gallery .btn {
  display: inline-block;
  font-size: 13px;
  color: white;
  text-decoration: none;
  background-color: #959595;
  width: 125px;
  line-height: 30px;
  border-radius: 3px;
  font-weight: 700;
  transition: 0.3s;
}
.gallery .btn:hover {
  background-color: #777777;
}

footer {
  padding: 64px 0 45px;
  text-align: center;
  -webkit-box-shadow: 0 2px 7px 1px #b5babd;
  box-shadow: 0 2px 7px 1px #b5babd;
}
footer .logo {
  display: inline-block;
  margin-bottom: 44px;
}
footer .socials {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 23px 0;
  margin-bottom: 37px;
}
footer .socials a {
  display: inline-block;
  margin: 0 26px;
  color: #777777;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
footer .socials a:hover {
  transform: translateY(-15%);
  color: black;
}
footer .copyright {
  font-size: 13px;
  color: #9c9c9c;
}
footer .copyright a {
  text-decoration: none;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  transition: 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
