@import "libs/_fonts";
@import url('https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css');
@import url('https://resources/demos/style.css');
@import "../css/owl.carousel.css";
@import "_variables";
@import "libs/mixins";
@import "libs/animation";
@import "../css/animation.css";
@import "_header";
@import "_carousel";
@import "_gallery";
@import "_footer";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

img {
  display: block;
  width: 100%;
  transition: .5s;
}

body {
  font-family: 'Roboto', sans-serif;
  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1140px;
  margin: auto;
  @include max-screen(1440px) {
    padding: 0 15px;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
}



